.dif {
  margin-top: 100px;
  width: 100%;
}

.dif_hr {
  width: 150px;
  background-color: #c396c6;
  height: 1px;
  margin: 30px 0;
}

.dif_title {
  font-size: 72px;
  color: var(--maintext-color);
}

.dif_list {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.dif_item {
  width: 28%;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.3s;
}

.dif_item:hover {
  box-shadow: 1px 1px 10px 2px var(--back-color);
  transform: translateY(-8px);
}

.dif_item_img {
  width: 86px;
}

.dif_item_title {
  margin: 20px 0;
  font-size: 28px;
  font-weight: 700;
}

@media (max-width: 1100px) {
  .dif .container {
    text-align: center;
  }

  .dif_hr {
    margin: 30px auto;
  }

  .dif_list {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .dif_item {
    width: 70%;
  }
}

@media (max-width: 800px) {
  .dif_title {
    font-size: 45px;
  }
}


.feat_box {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.feat_box .feat_road,
.feat_box .feat_down {
  width: 50%;
  height: 250px;
  border-radius: 7px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
  color: white;
  background-size: cover;
  background-position: center;
}
.feat_box .feat_road {
  background-image: url(./img/qutb.jpg);
  transition: all 0.5s;
}
.feat_box .feat_road h2 {
  font-size: 28px;
}
.feat_box .feat_road p {
  margin-top: 10px;
  font-size: 14px;
}
.feat_box .feat_road:hover {
  transform: translateY(-30px) translateX(-10px);
  cursor: pointer;
}
.feat_box .feat_down:hover {
  transform: translateY(-30px) translateX(10px);
  cursor: pointer;
}
.feat_box .feat_down {
  background-image: url(./img/shar.jpg);
  transition: all 0.5s;
}
.feat_box .feat_down .feat_adv {
  background-color: orange;
  padding: 5px 10px;
  border-radius: 5px;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: auto;
}
.feat_box .feat_down h2 {
  font-size: 28px;
}
.feat_box .feat_down p {
  margin-top: 10px;
  font-size: 14px;
}

.feat_info {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.feat_info .feat_info_date {
  margin-left: auto;
}

.most .container {
  text-align: center;
  margin: 100px auto;
}
.most .container .most_title {
  color: #2e2e2e;
  letter-spacing: 4px;
  font-weight: 400;
}

.most_list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.most_list .most_item {
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: start;
  background-color: #ffffff;
  margin-top: 40px;
  transition: all 0.5s;
}
.most_list .most_item h3 {
  color: #2e2e2e;
  margin-top: 20px;
}
.most_list .most_item p {
  color: #768088;
  margin-top: 10px;
  margin-top: 20px;
}
.most_list .most_item:hover {
  transform: translateY(-20px);
  cursor: pointer;
}

.most_item_box {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-top: 5px solid #f7f7f7;
  padding: 15px 0;
}
.most_item_box .most_info_date {
  margin-left: auto;
}

.footer {
  width: 100%;
  background-image: url(img/orqa.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.stay {
  padding-top: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.stay h2 {
  color: #ffffff;
  font-weight: 400;
  font-size: 34px;
  padding: 8px 4px;
  border-bottom: white 2px solid;
  letter-spacing: 2px;
}

.foot_email_box {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.foot_email_box input {
  padding: 15px 20px;
  width: 350px;
  border-radius: 5px;
  border: none;
}
.foot_email_box button {
  padding: 16px 30px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  background: rgba(134, 132, 132, 0.587);
  margin-right: 5px;
}
.foot_email_box button:hover {
  background-color: rgb(106, 105, 105);
}

.foot_link {
  margin-top: 60px;
  padding: 25px 0;
  background-color: rgba(46, 46, 46, 0.7803921569);
}
.foot_link .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foot_logo {
  padding: 5px;
  text-decoration: none;
  position: relative;
}

.foot_logo::after {
  content: "";
  position: absolute;
  width: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: white;
  transition: all ease-in 0.2s;
}



.foot_logo:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}

.foot_logo h2 {
  font-size: 28px;
  color: #ffffff;
  font-weight: 400;
}

.foot_list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5px;
}
.foot_list .foot_item {
  padding: 5px;
  color: #ffffff;
  position: relative;
}
.foot_list .foot_item::after {
  content: "";
  position: absolute;
  width: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: white;
  transition: all ease-in 0.2s;
}
.foot_list .foot_item:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}

.nav_list_menu {
  list-style: none;
  z-index: 999;
  background-color: white;
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  display: none;
  background-color: rgba(149, 143, 143, 0.3058823529);
  backdrop-filter: blur(10px);
}

.nav_item_menu {
  padding: 5px;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  margin-top: 20px;
}

.nav_item_menu--first {
  margin-top: 70px;
}

.nav_menu_remove {
  width: 45px;
  height: 45px;
  fill: #e63946;
  position: absolute;
  right: 0;
}



@media (max-width: 900px) {
  .most_list .most_item {
    width: 48%;
  }
  .nat_list {
    flex-direction: column;
    text-align: center;
  }
  .nat_list .nat_item {
    text-align: center;
  }
}


@media (max-width: 700px) {
  .nav_list {
    display: none;
  }
  .hero {
    text-align: center;
  }
  .feat_box {
    flex-wrap: wrap;
  }
  .feat_box .feat_road {
    width: 100%;
  }
  .feat_box .feat_down {
    width: 100%;
  }
  .most_list .most_item {
    width: 100%;
  }
  .nav_menu {
    display: block;
  }
}



@media (max-width: 500px) {
  .foot_link .container {
    flex-direction: column;
    gap: 20px;
  }
  .foot_email_box {
    flex-direction: column;
  }
  .foot_email_box input {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */




.most_list .most_item p {
  color: #768088;
  margin-top: 10px;
  margin-top: 20px;
}
.most_list .most_item:hover {
  transform: translateY(-20px);
  cursor: pointer;
}

.most_item_box {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-top: 5px solid #f7f7f7;
  padding: 15px 0;
}
.most_item_box .most_info_date {
  margin-left: auto;
}

.footer {
  width: 100%;
  background-image: url(img/orqa.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.stay {
  padding-top: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.stay h2 {
  color: #ffffff;
  font-weight: 400;
  font-size: 34px;
  padding: 8px 4px;
  border-bottom: white 2px solid;
  letter-spacing: 2px;
}