.hero{
    width: 100%;
    background-color: var(--back-color);
}

.hero .container{
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
  align-items: center;
}

.hero_content{
    width: 40%;
}



.hero_title{
    font-size: 72px;
    color: white;
    line-height: 60px;
}

.hero_text{
    color: white;
    line-height: 26px;
    margin: 30px 0;
}

.hero_btn{
    padding: 10px 30px;
    background: none;
    border: solid 2px white;
    color: white;
}

.hero_img{
    margin-bottom: -200px;
}